<main>
  <header class="menu">
    @if (getMenu()) {
    <p>Раздел: {{ getActiveTitle() }}</p>
    <div class="menu-analytics">
      <p>Выбрано пунктов: {{ counterService.counter() }}</p>
      <p>Общее значение: {{ counterService.counterValue() }}</p>
    </div>
    } @else {}
  </header>
  <div class="body-section">
    <div class="pages-section">
      @for (page of pages; track page.path) {
      <a [routerLink]="page.path">{{ page.title }}</a>
      }
    </div>
    <div class="pages-content">
      <router-outlet />
    </div>
  </div>
</main>